*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;
}



/*navbar effect*/
.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0E49B5;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.75;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #0E49B5;
  }

.nav-link-fade-up::before {
    width: 100%;
    bottom: 5px;
    opacity: 0;
  }
  
  .nav-link-fade-up:hover::before {
    bottom: 10px;
    opacity: 1;
  }
/*navbar effect end*/


nav a.nav-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color:  #0E49B5;}

nav button.navbar-toggler{
    background-color: #0E49B5;
    padding: 10px;
}

nav button span.toggler-nav{
    color: #FFFFFF;
}

.title{
    margin-bottom: 60px;
}

.section1{
    background: #0E49B5;
}

.section1 img.foto{
    width: 100%;
}

.welcome-text{
    font-size: 36px;
    font-weight: 200;
    line-height: 45px;
    color: #FFFFFF;
}

.welcome-text span.strong{
    font-weight: 800;
}

.detail-text{
    font-size: 18px;
    font-weight: 200;
    line-height: 23px;
    color: #FFFFFF;
}

.btn-action,
.btn-call{
    background: #FFFFFF;
    border-radius: 55px;
    height: 56px;
    width: 283px;
    color:  #0E49B5;
}

a.btn-action,
a.btn-call{
    display: block;
    padding-top: 8px;
    text-decoration: none;
    font-size: 20px;
}
span.icon{
    margin: 50px;
}

.section2{
    background-color: black;
    margin-top: -32px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section2 h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color:  white;
}

.section2 p{
    color: #0E49B5;
    font-weight: 800;
}

.custom-card{
    margin: 10px;
    width: 360px;
    height: 420px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.section3{
    background-color:  #0E49B5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section3 h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color:  #FFFFFF;
}

.section3 label{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.form-simulasi{
    color: white;
    background-color: transparent;
    border: unset;
    border-bottom: 3px solid #FFFFFF;
    border-radius: 0px;
    margin-bottom: 30px;
}

.form-simulasi:focus{
    background-color: transparent;
    color: white;
}

.form-simulasi option{
    background-color: #3E3E3E;
}

.btn-simulasi{
    margin-top: 20px;
}

.col-kiri{
    padding-right: 100px;
}

.col-kanan{
    padding-left: 100px;
}

.btn-simulasi{
    border-style: none;
    width: 280px;
    height: 56px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.text-bayar{
    margin-top: 65px;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;
}

.call-to-action{
    background: #6C6B6B;
    padding-top: 50px;
    padding-bottom: 50px;
}

.call-to-action h3{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #FFFFFF;
}

.call-to-action a{
    text-decoration: none;
    color: #FFFFFF;
    background: #EF9328;
    border-radius: 55px;
    display: block;
    margin-top: 20px;
    width: 265px;
    height: 55px;
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    padding-top: 13px;
}

footer{
    background-color: #3E3E3E;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
}

footer a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
}

footer p{
    margin-top: 20px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    color: #FFFFFF;
}

footer .sosmed a{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
}

/* Back to Top Pure CSS by igniel.com */
.floating-btn {
    width:110px;
    height:110px;
    position:fixed;
    bottom:50px;
    right:50px;
    z-index:99;
    cursor:pointer; border-radius:100px; transition:all .5s;
    background: #419F3F;
}
.floating-btn:hover{
    background-color: black;
}

.floating-btn img{
    margin-top: 15px;
    margin-left: 15px;
}

.img-card
{
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.service-card{
    padding-top: 50px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.section5 h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color:  #0E49B5;
}
.section5{
    background-color: #FFFFFF;
    margin-top: -32px;
    padding-top: 50px;
    padding-bottom: 50px;
   
}

.section6{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;
}

.section6 h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color:  #FFFFFF;
}

.section6 h4{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

.section6 p{
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color:#FFFFFF;  
}

.section6 p.sub-title{
    font-weight: bold;
}

@media screen and (min-width: 480px){

}